In [100]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
import pandas as pd
from sklearn import tree
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import numpy as np
from sqlalchemy import create_engine
from sqlalchemy.orm import scoped_session, sessionmaker

# Connect the notebook to the SQL database

In [79]:
# FOR PostgreSQL connection : 
db_string = f"postgresql://postgres:XB0j1ma!17@housingdata.cng7z9pmjc4z.us-east-1.rds.amazonaws.com:5432/postgres"
engine = create_engine(db_string)
conn = engine.connect()

In [96]:
# Get the name of the table. 
inspector = inspect(engine)
inspector.get_table_names()

['state_market_tracker',
 'state_population_data',
 'metro_market_tracker',
 'market_pop_data',
 'sample_table']

In [112]:
## see the types 
inspector.get_columns("market_pop_data")[0]

{'name': 'state_name',
 'type': VARCHAR(),
 'nullable': True,
 'default': None,
 'autoincrement': False,
 'comment': None}

## market_pop_data - make a dataframe

In [111]:
#get all the data from SQL using conn 
results = conn.execute("SELECT * FROM market_pop_data")

#find the column names
column_list = []
for row in inspector.get_columns("market_pop_data"):
    column_list.append(row["name"])
    
market_pop_data= pd.DataFrame(results, columns = column_list)
market_pop_data.head(5)

,state_name,year_data,median_sale_price,median_list_price,homes_sold,new_listings,inventory,avg_sale_to_list,sold_above_list,popestimate2010,...,popestimate2012,popestimate2013,popestimate2014,popestimate2015,popestimate2016,popestimate2017,popestimate2018,popestimate2019,popestimate2020,popestimate2021
0,Alabama,2012,141383.3333,174433.3333,263.333333,242.166667,1109.333333,0.931812,0.117615,4785514.0,...,4816632.0,4831586.0,4843737.0,4854803.0,4866824.0,4877989.0,4891628.0,4907965.0,4921532.0,5039877.0
1,Alabama,2013,153825.0000,155558.3333,1801.166667,1838.083333,8119.750000,0.959974,0.185273,4785514.0,...,4816632.0,4831586.0,4843737.0,4854803.0,4866824.0,4877989.0,4891628.0,4907965.0,4921532.0,5039877.0
2,Alabama,2014,157191.6667,159683.3333,1850.166667,1889.500000,8391.250000,0.960012,0.177185,4785514.0,...,4816632.0,4831586.0,4843737.0,4854803.0,4866824.0,4877989.0,4891628.0,4907965.0,4921532.0,5039877.0
3,Alabama,2015,162108.3333,164833.3333,2066.166667,2401.583333,9340.416667,0.963852,0.189315,4785514.0,...,4816632.0,4831586.0,4843737.0,4854803.0,4866824.0,4877989.0,4891628.0,4907965.0,4921532.0,5039877.0
4,Alabama,2016,170041.6667,172683.3333,2283.416667,2625.083333,11045.416670,0.969219,0.211927,4785514.0,...,4816632.0,4831586.0,4843737.0,4854803.0,4866824.0,4877989.0,4891628.0,4907965.0,4921532.0,5039877.0

## state_market_tracker

In [110]:
#get all the data from SQL using conn 
results = conn.execute("SELECT * FROM state_market_tracker")

#find the column names
column_list = []
for row in inspector.get_columns('state_market_tracker'):
    column_list.append(row["name"])
    
state_market_tracker= pd.DataFrame(results, columns = column_list)
state_market_tracker.head(5)

,state_name,year_data,median_sale_price,median_list_price,homes_sold,new_listings,inventory,avg_sale_to_list,sold_above_list
0,Alabama,2012,141383.3333,174433.3333,263.333333,242.166667,1109.333333,0.931812,0.117615
1,Alabama,2013,153825.0000,155558.3333,1801.166667,1838.083333,8119.750000,0.959974,0.185273
2,Alabama,2014,157191.6667,159683.3333,1850.166667,1889.500000,8391.250000,0.960012,0.177185
3,Alabama,2015,162108.3333,164833.3333,2066.166667,2401.583333,9340.416667,0.963852,0.189315
4,Alabama,2016,170041.6667,172683.3333,2283.416667,2625.083333,11045.416670,0.969219,0.211927

## metro_market_tracker

In [113]:
#get all the data from SQL using conn 
results = conn.execute("SELECT * FROM metro_market_tracker")

#find the column names
column_list = []
for row in inspector.get_columns('metro_market_tracker'):
    column_list.append(row["name"])
    
metro_market_tracker = pd.DataFrame(results, columns = column_list)
metro_market_tracker.head(5)

,state_name,year_data,median_sale_price,median_list_price,homes_sold,new_listings,inventory,avg_sale_to_list,sold_above_list
0,"Aberdeen, WA",2012,111437.083333,132641.666667,56.666667,109.750000,639.000000,0.938620,0.106285
1,"Aberdeen, WA",2013,116672.916667,131854.166667,65.166667,121.250000,632.750000,0.945727,0.119967
2,"Aberdeen, WA",2014,119054.125000,134310.000000,76.000000,114.083333,579.833333,0.949212,0.136773
3,"Aberdeen, WA",2015,133762.500000,145335.416667,85.583333,114.833333,488.833333,0.954965,0.128775
4,"Aberdeen, WA",2016,146423.416667,156662.500000,102.916667,124.833333,439.083333,0.963780,0.164270

## state_population_data

In [ ]:
#get all the data from SQL using conn 
results = conn.execute("SELECT * FROM state_population_data")

#find the column names
column_list = []
for row in inspector.get_columns('state_population_data'):
    column_list.append(row["name"])
    
state_population_data = pd.DataFrame(results, columns = column_list)
metro_market_tracker.head(5)